settings {
    logfile      = "/var/log/lsyncd/lsyncd.log",
    statusFile   = "/var/log/lsyncd/lsyncd.status",
    inotifyMode  = "CloseWrite",
    maxProcesses = 8,
}
sync {
    default.rsync,
    source    = "/nfs-data",
    target    = "{{ rsync_user }}@172.16.1.41::backup",
    delete    = true,
    exclude   = {".*"},
    delay     = 1,
    rsync     = {
        binary        = "/usr/bin/rsync",
        archive       = true,
        compress      = true,
        verbose       = true,
        password_file = "/etc/rsync.pwd",
        _extra        = {"--bwlimit=200"}
    }
}
